<h2 class="title d-flex justify-content-center text-dark">
  List of all Posts
</h2>

<div class="container" style="width: 45%">
  <div class="d-flex mt-4 mb-4">
    <figure class="image">
      <img class="rounded" src="<%= @user.photo %>" alt="user photo">
    </figure>
    <div class="ml-3 bg-light rounded p-3" style="width: 82%; margin: 0 0 0 1rem;">
      <p class="fs-5 text-secondary" style="padding: 0.7rem 0 0 0.7rem;"><%= @user.name %></p>
      <p class="fs-6 text-success bg-success-light p-1 float-end"  style="padding: 0 0.7rem 0 0;">Number of posts: <%= @user.posts_counter %></p>
    </div>
  </div>

  <% @posts.each do |post| %>
  <div class="bg-light rounded-top p-3">
    <p class="mb-1 text-primary"><%= post.title %></p>
    <%= post.limit_sentence(post.text) %>
    <div class="mt-1 d-flex justify-content-between align-items-center">
      <%= link_to "Show details", user_post_path(@user, post), class: "btn btn-link btn-light btn-rounded btn-sm btn-outlined" %>
      <div class="text-primary fs-6">
        Comments: <%= post.comments_counter %>, Likes: <%= post.likes_counter %>
      </div>
    </div>
  </div>

  <div class="mb-4 rounded-bottom p-3 comments">
    <% post.recent_comments.each do |comment| %>
    <div>
      <strong><%= comment.author.name %></strong>: <%= comment.text %>
    </div>
    <% end %>
  </div>
  <% end %>

  <div class="d-flex justify-content-center">
    <%= link_to "Pagination", user_posts_path(@user), class: "btn btn-primary" %>
  </div>
</div>
